aniso8601
blinker
certifi
charset-normalizer
click
colorama
Flask
Flask-RESTful
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
pytz
requests
six
urllib3
Werkzeug
zipp
Gunicorn
